*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

/* CARACTERISTICAS GENERICAS DE TODOS LOS HTML*/

header{
    height: 140px;
    width: 100%;
    background-color: rgb(20, 20, 69);
}

.logoA{
    color:rgb(229, 232, 170);
    font-size: 100px;
    text-transform: capitalize;
    text-align: left;
    font-family: 'square peg', cursive;
    padding-left: 20px;
    padding-bottom: 50px;
}

header a{
    text-decoration: none;
    color:rgb(229, 232, 170);
}

.logoB{
    color:rgb(229, 232, 170);
    font-size: 20px;
    text-transform: capitalize;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 20px;
    padding-top: 90px;  
}

.nav1{
    float:right;
}

.nav1 ul li{
    list-style: none;
    display: inline-block;
    margin-right: 15px;
    padding-top: 5px;
}

.nav1 a{
    text-decoration: none;
    color:rgb(229, 232, 170);
    font-family: 'square peg', cursive;
    text-transform: capitalize;
    font-size: 30px;   
}

.nav1 a:hover{
    color:rgb(229, 232, 170);
}

main{
    height: 700px;
    width: 100%;
    background-image: url(img/portadahostel.jpg);
    background-size: cover;
    background-position: center;
}

/*FINALIZACION DE DESCRIPCION GENERICA*/

/*INICIO*/

.tituloInicio{
    height: 100px;
    width: 700px;
    color:rgb(20, 20, 69);
    text-align: center;
    font-family: 'square peg', cursive;
    font-size: 50px;
    background-color: rgb(229, 232, 170);
    border: 5px dashed rgb(20, 20, 69);
    position:absolute;
    margin-top: 160px;
    margin-left: 320px;
    padding-top: 10px;
    padding-left: 70px;
}

.textoInicio{
    min-height: 400px;
    width: 500px;
    background-color: rgb(229, 232, 170);
    color:rgb(20, 20, 69);
    border: 3px solid rgb(20, 20, 69);
    font-family: 'square peg', cursive;
    font-size: 35px;
    text-align: center;
    padding-top: 30px;
    margin-left: 450px;
    margin-top: 270px;
    position: absolute;
}

.fotosInicio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.caja{
    height: 150px;
    width: 220px;
    background-color: rgb(20, 20, 69);
    border: 2px solid rgb(229, 232, 170);
    color: rgb(229, 232, 170);
    font-family: 'square peg';
    font-size: 70px;
    text-align: center;
}

.caja2{
    background-image: url(img/HostelInicio.jpg);
    background-size: cover;
    background-position: center;
}

.caja4{
    background-image: url(img/CafeInicio.webp);
    background-size: cover;
    background-position: center;  
}

.caja1, .caja3, .caja5{
    padding-top: 30px;
}

/*NOSOTROS*/

.nosotros .cuerpoTextoNosotros{
    margin-left: 300px;
    margin-top: 50px;
    position: absolute;
}

.cuerpoTextoNosotros{
    height: 600px;
    width: 750px;
    display: grid;
    border: 2px solid rgb(20, 20, 69);
    background-color: rgba(229, 232, 170, 0.7);
    grid-template-columns: 300px 300px;
    grid-template-rows: 200px 200px;
    grid-gap: 60px 40px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    grid-template-areas: "img1 img2"
                         "img3 img4"
}

.fotoAdrian{
    grid-area: img1;
    min-height: 200px;
    width: 300px;
    background-image: url(img/socio.jpg);
    background-size: contain;
}

.fotoAylen{
    grid-area: img3;
    min-height: 200px;
    width: 300px;
    background-image: url(img/socia.jpg);
    background-size: contain;
}

.socios1{
    grid-area: img2;
    height: 225px;
    width: 350px;
    color: rgb(20, 20, 69);
    text-align: center;    
    margin-top: 20px;
    font-family: 'square peg', cursive;
    font-size: 21px;
    font-weight: 900;
    text-align: center;
}

.socios2{
    grid-area: img4;
    height: 250px;
    width: 350px;
    color: rgb(20, 20, 69);
    text-align: center;    
    margin-top: 20px;
    font-family: 'square peg', cursive;
    font-size: 21px;
    font-weight: 900;
    text-align: center;
}

.socios1 li, .socios2 li{
    list-style: none;    
}

/*FIN DE LA PAGINA NOSOTROS*/

/* EL HOSTEL */

.elHostel{
    height: 1300px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.habitaciones{
    min-height: 520px;
    width: 100%;
    background-color: rgba(229, 232, 170, 0.7);
    position: absolute;
    margin-top: 30px;
    display: grid;
    border: 3px solid rgb(20, 20, 69);
    grid-template-columns: 280px 280px 280px 280px;
    grid-gap: 20px 20px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    grid-template-areas: "imgH1 imgH2 imgH3 imgH4"
                         "imgH5  imgH6 imgH6 imgH7"
}

.imgH{
    height: 200px;
    width: 100%;
    border: 3px solid rgb(20, 20, 69);
}

.imgH:hover{
    transform: scale(1.5);
    transition: all 0.7s;
}

.imgH1{
    grid-area: imgH1;
    background-image: url(img/patio.jpg);
    background-size: cover;
    background-position: center;
}

.imgH2{
    grid-area: imgH2;
    background-image: url(img/comedor.jpg);
    background-size: cover;
    background-position: center;
}

.imgH3{
    grid-area: imgH3;
    background-image: url(img/saladeestar.jpg);
    background-size: cover;
    background-position: center;
}

.imgH4{
    grid-area: imgH4;
    background-image: url(img/saladejuegos.jpeg);
    background-size: cover;
    background-position: center;
}

.imgH5{
    grid-area: imgH5;
    background-image: url(img/patio2.jpg);
    background-size: cover;
    background-position: center;
}

.imgH6{
    grid-area: imgH6;
    background-image: url(img/portadahostel.jpg);
    background-size: cover;
    background-position: center;
}

.imgH7{
    grid-area: imgH7;
    background-image: url(img/cafe.jpg);
    background-size: cover;
    background-position: center;
}

.cuerpoTextoHostel{
    min-height: 650px;
    width: 100%;
    margin-top: 600px;
    position: absolute; 
    background-color: rgb(229, 232, 170);
    display: grid;
    border: 3px solid rgb(20, 20, 69);
    background-color: rgba(229, 232, 170, 0.9);
    grid-template-columns: 280px 280px 280px 280px;
    grid-gap: 20px 20px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    grid-template-areas: "imgP1 imgP2 imgP3 imgP4"
                         "img5 img6 img7 img8"
                         "img9 img9 img9 img9"
}

.imgP{
    border: 5px solid rgb(20, 20, 69);
    height: 380px;
    width: 100%;
}

.imgP:hover{
    transform: scale(1.10);
    transition: all 0.7s;
}

.imgP1{
    grid-area: imgP1;
    background-image: url(img/verano.jpg);
    background-size: cover;
    background-position: center;
}
.imgP2{
    grid-area: imgP2;
    background-image: url(img/otoño.jpg);
    background-size: cover;
    background-position: center;
}
.imgP3{
    grid-area: imgP3;
    background-image: url(img/invierno.jpg);
    background-size: cover;
    background-position: center;
}
.imgP4{
    grid-area: imgP4;
    background-image: url(img/primavera.jpg);
    background-size: cover;
    background-position: center;
}

.img{
    border: 2px radius rgb(20, 20, 69);
    font-family: 'square peg', cursive;
    font-size: 40px;
    font-weight: 800;
    color: rgb(20, 20, 69);
}

.tabla{
    min-height: 110px;
    width: 700px;
    border: rgb(20, 20, 69) 3px solid;
    border-spacing: 0;
    margin-left: 1000px;
    font-family: 'square peg';
    font-size: 25px;
    color: rgb(20, 20, 69);
}

.tabla thead tr th{
    border: rgb(20, 20, 69) 2px solid;
}

th, td{
    border: 2px rgb(20, 20, 69) solid;   
}

/*FINALIZACION DE PAGINA DEL HOSTEL*/

/*CASA DE TE*/

.casaDeTe{
    height: 500px;
    width: 400px;
    color: rgb(20, 20, 69);
    font-family:'square peg', cursive;
    text-align: center;
    padding-top: 5px;
    border: 5px solid rgb(20, 20, 69);
    font-size: 21px;
    background-color: rgb(229, 232, 170);
    position: absolute;
    margin-left: 40px;
    margin-top: 100px;
}

.casaDeTe ol li{
    list-style: none;
}

.titulos{
    font-size: 23px;
    font-weight: bold;
}

/*CONTACTO*/

.contactoSolicitud{
    height: 330px;
    width: 400px;
    color: rgb(20, 20, 69);
    font-family:'square peg', cursive;
    text-align: center;
    padding-top: 5px;
    border: 5px solid rgb(20, 20, 69);
    font-size: 30px;
    background-color: rgb(229, 232, 170);
    margin-left: 500px;
    position: absolute;
    margin-left: 500px;
    margin-top: 150px;
}

/*FIN DE PAGINA DE CONTACTO*/

/*PIE DE PAGINA*/

footer{
    min-height: 180px;
    width: 100%;
    background-color: rgb(20, 20, 69);
    text-align: center;
    font-family: 'square peg', cursive;
    padding: 5px;
}

footer .redes a{
    font-size: 30px;
    letter-spacing: 20px;
    color:rgb(229, 232, 170);
    text-decoration: none;
}

footer p{
    color:rgb(229, 232, 170);
    font-size: 20px;
    padding-top: 30px;
    letter-spacing: 3px;
}

.logoAPie{
    color:rgb(229, 232, 170);
    font-size: 40px;
    text-transform: capitalize;
    font-family: 'square peg', cursive;
    text-align: center;
}

.logoBPie{
    color:rgb(229, 232, 170);
    font-size: 15px;
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}


/*FIN DE PIE DE PAGINA*/

/* @media only screen and (min-width: 360px){
    .cuerpoTextoNosotros{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media only screen and (min-width: 480px){
    .cuerpoTextoHostel{
        display: grid;
        grid-template-columns: 100px 100px 100px 100px;
    }
    .imgP1, .imgP2, .imgP3, .imgP4{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}  */

/* @media only screen and (min-width: 480px){
    .contenedor{
        background-color: orange;
    }
    .item{
        border-radius: 20px;
    }
} */ 
/* @media only screen and (min-width: 480px) and (max-width: 599px){
    .galeria{
        display: grid;
        grid-row: 1fr 1fr;
    }
 } 
 @media only screen and (min-width: 600px) and (max-width: 777px){
     .nosotros{
         display: flex;
     }
     .galeria{
         display: grid;
         grid-template-columns: repeat(3, 1fr);
     }
     .img1{
         grid-column: 1/2;
         grid-row: 1/3;
     }
     .img2{
         grid-column: 2/3;
         grid-row: 1/2;
     }
     .img3{
         grid-column: 3/4;
         grid-row: 1/3;
     }
     .img4{
         grid-column: 2/3;
         grid-row: 2/3;
     }
     .img5{
         grid-column: 1/3;
         grid-row: 3/4;
     }
     .img6{
         grid-column: 3/4;
         grid-row: 3/4;
     }
     .img7{
         grid-column: 1/2;
         grid-row: 4/5;
     }
     .img8{
         grid-column: 2/4;
         grid-row: 4/5;
     }
 }
 @media only screen and (min-width: 768px){
     .nosotros{
         display: flex;
     }
     .galeria{
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         grid-row: 250px 250px;
         gap: 20px;
     }
     .img{
         border-radius: 10px;
     }
     .img8{
         grid-column: 2/4;
     }
 } */
